In [11]:
import csv

f = open('seoul.csv', 'r', encoding='utf-8')
data = csv.reader(f)

header = next(data)

highest_temp = -999
highest_date = ''
highest_row = ''

for row in data:
    if '' in row:
        continue
    
    temp = float(row[4])
    if temp > highest_temp:
        highest_row = row
        highest_temp = temp
        highest_date = row[0]

f.close()

print(header)
print(highest_row)

print(f'기상 관측 이래 서울의 최고 기온이 가장 높았던 날은 {highest_date}로, {highest_temp}도 였습니다.')

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']
['2018-08-01', '108', '33.6', '27.8', '39.6']
기상 관측 이래 서울의 최고 기온이 가장 높았던 날은 2018-08-01로, 39.6도 였습니다.

In [12]:
import csv

f = open('seoul.csv', 'r', encoding='utf-8')
data = csv.reader(f)

header = next(data)

lowest_temp = 999
lowest_date = ''
lowest_row = ''

for row in data:
    if '' in row:
        continue
    
    temp = float(row[3])
    if temp < lowest_temp:
        lowest_row = row
        lowest_temp = temp
        lowest_date = row[0]

f.close()

print(header)
print(highest_row)

print(f'기상 관측 이래 서울의 최저 기온이 가장 낮았던 날은 {lowest_date}로, {lowest_temp}도 였습니다.')

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']
['2018-08-01', '108', '33.6', '27.8', '39.6']
기상 관측 이래 서울의 최저 기온이 가장 낮았던 날은 1927-12-31로, -23.1도 였습니다.

In [16]:
import csv

min_temp = []
max_temp = []

with open('seoul.csv', 'r', encoding='utf-8') as f:
    data = csv.reader(f)
    header = next(data)

    for row in data:
        if row[3] == '':
            row[3] = 999
        if row[4] == '':
            row[4] = -999

        row[3] = float(row[3])
        row[4] = float(row[4])

        min_temp.append(row[3])
        max_temp.append(row[4])

print('서울 최고 기온 10개')
max_temp.sort(reverse=True)
print(max_temp[:10])

print('서울 최저 기온 10개')
min_temp.sort()
print(min_temp[:10])

서울 최고 기온 10개
[39.6, 38.4, 38.3, 38.2, 38.2, 38.2, 38.0, 38.0, 38.0, 37.9]
서울 최저 기온 10개
[-23.1, -22.5, -22.3, -22.2, -21.9, -21.8, -21.7, -21.5, -21.3, -21.3]